* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    background-color: rgb(39, 41, 68);
    font-family: sans-serif;
}

.health-bars {
    color: red;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.health-bars h2 {
    font-size: 30px;
}
.health-bars p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.intro {
    color: purple;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}

.intro h1 {
    font-size: 50px;
}
.intro button,
.match button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: green;
    font-size: 20px;
    background-color: indianred;
    border-radius: 3px;
}

.match{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
}

.winner{
    color: indigo;
    text-align: center;
    font-size: 50px;
}

.hands, .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .player-hand {
    transform: rotateY(180deg);
} */

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: none;
}