* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    font-family: fantasy;
    background-image: url(https://images.hdqwalls.com/wallpapers/the-elder-scrolls-v-skyrim-5k-kg.jpg);
    background-position: center;
    background-size: cover;
}

.score {
    color: red;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.score h2 {
    font-size: 30px;
}
.score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.intro {
    color: crimson;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 3s ease;
}

.intro h1 {
    font-size: 50px;
}
.intro button,
.match button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: black;
    font-size: 20px;
    background: crimson;
    border-radius: 3px;
    cursor: pointer;
}

.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 3s ease 3s;
    background-image: url(https://vignette.wikia.nocookie.net/skyrimroleplaying/images/c/c4/Helgen.jpg/revision/latest?cb=20130815142729);
    background-position: center;
    background-size: cover;
    border: 3px white;
}
.winner {
    color: white;
    text-align: center;
    font-size: 50px;
}

.characters,
.options {
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.player-char {
    transform: rotateY(180deg);
}

.computer-char {
    transform: rotateY(180deg);
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

.reset {
    position: absolute;
    top: 80%;
    left: 40%;
    width: 150px;
    /* height: 20px; */
    background: none;
    border: none;
    color: black;
    font-size: 20px;
    background: crimson;
    border-radius: 3px;
    cursor: pointer;
}

@keyframes shakePlayer {
    0%{
        transform: rotateY(180deg) translateY(0px);
    }
    15%{
        transform: rotateY(180deg) translateY(-50px);
    }
    25%{
        transform: rotateY(180deg) translateY(0px);
    }
    35%{
        transform: rotateY(180deg) translateY(-50px);
    }
    50%{
        transform: rotateY(180deg) translateY(0px);
    }
    65%{
        transform: rotateY(180deg) translateY(-50px);
    }
    75%{
        transform: rotateY(180deg) translateY(0px);
    }
    85%{
        transform: rotateY(180deg) translateY(-50px);
    }
    100%{
        transform: rotateY(180deg) translateY(0px);
    }
}

@keyframes shakeComputer {
    0%{
        transform: rotateY(180deg) translateY(0px);
    }
    15%{
        transform: rotateY(180deg) translateY(-50px);
    }
    25%{
        transform: rotateY(180deg) translateY(0px);
    }
    35%{
        transform: rotateY(180deg) translateY(-50px);
    }
    50%{
        transform: rotateY(180deg) translateY(0px);
    }
    65%{
        transform: rotateY(180deg) translateY(-50px);
    }
    75%{
        transform: rotateY(180deg) translateY(0px);
    }
    85%{
        transform: rotateY(180deg) translateY(-50px);
    }
    100%{
        transform: rotateY(180deg) translateY(0px);
    }
}